@media (max-width: 900px) {
  header {
    padding: 1.5rem 2rem;
    padding-top: 1rem;
  }

  .image-container {
    justify-content: center;
  }

  .header-h1 {
    font-size: 1.88rem;
  }

  .header-strong {
    font-size: 42px;
  }

  .header-h2 {
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.2rem;
  }

  .header-paragraph span {
    display: block;
    margin-top: 25px;
    text-align: center;
  }

  .header-paragraph span a {
    margin: 0;
    padding: 11px 14px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.05em;
    border: 1px solid #c52f54;
  }

  .header-paragraph a:hover {
    opacity: 1;
  }
}
