footer {
  height: 80px;
  text-align: center;
  align-content: center;
  font-style: italic;
  line-height: 1.5;
  background-color: #f14668;
}

.footer-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
