main {
  flex: 0;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 0 0.7rem 30px 0.7rem;
}

.card {
  display: flex;
  position: relative;
  max-height: 155px;
  background: #fff;
  border-radius: 8px;
  padding: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
  transition: background 0.2s, box-shadow 0.2s;
}

.card:hover {
  background: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  z-index: 200;
  position: relative;
}

.overlay-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: calc(100% - 20px);
  justify-content: space-between;
  align-items: start;
  color: white;
}

.mark-score-badge {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8125rem;
  font-weight: 800;
  line-height: 1.2;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.mark-score-badge span {
  font-weight: 600;
  color: #666;
}

.comment-wrapper {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.comment-popup {
  display: block;
  position: absolute;
  width: 250px;
  z-index: 100000000;
  border: 2.5px solid #f14668;
  border-radius: 6px;
  background: #fff;
  font-size: 0.8125rem;
  color: #333;
  padding: 8px 12px;
  padding-left: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
}

.comment-popup.right {
  left: 15px;
}
.comment-popup.left {
  right: 15px;
}

.comment-popup.above {
  bottom: 17px;
  top: auto;
}
.comment-popup.below {
  top: 17px;
  bottom: auto;
}

.comment-popup::after {
  content: "";
  position: absolute;
  border-width: 11.75px;
  border-style: solid;
  border-color: transparent;
}
.comment-popup.above.right::after {
  bottom: -11.5px;
  left: -12px;
  border-bottom-color: #f14668;
  transform: rotate(-135deg);
}
.comment-popup.above.left::after {
  bottom: -11.5px;
  right: -12px;
  border-bottom-color: #f14668;
  transform: rotate(-225deg);
}
.comment-popup.below.right::after {
  top: -12px;
  left: -12px;
  border-top-color: #f14668;
  transform: rotate(-225deg);
}
.comment-popup.below.left::after {
  top: -12px;
  right: -12px;
  border-top-color: #f14668;
  transform: rotate(225deg);
}

.ib-popup {
  border: 2.5px solid #14a1d1;
}

.ib-popup.above.right::after {
  border-bottom-color: #14a1d1;
}
.ib-popup.above.left::after {
  border-bottom-color: #14a1d1;
}
.ib-popup.below.right::after {
  border-top-color: #14a1d1;
}
.ib-popup.below.left::after {
  border-top-color: #14a1d1;
}

.crapify-popup {
  border: 2.5px solid #837b79;
}

.crapify-popup.above.right::after {
  border-bottom-color: #837b79;
}
.crapify-popup.above.left::after {
  border-bottom-color: #837b79;
}
.crapify-popup.below.right::after {
  border-top-color: #837b79;
}
.crapify-popup.below.left::after {
  border-top-color: #837b79;
}

.icon {
  color: #666;
  font-size: 1.125rem;
  margin-top: 14.2%;
  margin-right: 4.9px;
}

.ib-icon {
  width: 20px;
  height: 20px;
  margin: -15.25px 12px -5px auto;
  border-radius: 100%;
  display: inline-block;
  object-fit: contain;
  vertical-align: middle;
}

.crapify-icon {
  display: inline-block;
  display: none;

  width: 23px;
  height: 23px;
  margin: -16px 10px -5px auto;
  border-radius: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.card-link {
  z-index: 1;
  height: 100%;
}

.card-title {
  z-index: 1;
  color: #333;
  font-size: 0.93rem;
  line-height: 1.125;
  padding: 0.85px;
  margin: 1.8rem 0 0.65rem;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-tags {
  z-index: 1;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  background: white;
  color: #333;
  font-size: 0.72rem;
  font-weight: 600;
  padding: 0.2rem 0.75rem;
  border: 1.5px solid #f14668;
  border-radius: 12px;
  cursor: default;
  transition: background 0.2s;
}

.card:hover .tag {
  background: #f8f8f8;
}
